{% extends 'base.html' %}
<html>
    <body>
        {% block content %}
            
        <h1>Edit {{post.title}}</h1>
        <form method="POST">
            
            <label for="title">Post title</label>
            <textarea name="title" id="" cols="30" rows="10"></textarea>
            <br>
            <label for="content">Post content</label>
            <textarea name="content" id="" cols="30" rows="10"></textarea>
            
            <h1>Apply a tag</h1>
            
                {% for tag in tags %}
                    <br>
                    <input type="checkbox">
                        {{tag.name}}
                {% endfor %}
            
                <br>
            <button type="submit">Edit Post</button>
            <a href="/">cancel</a>
            
        </form>
        {% endblock %}
    </body>
    </html>