{% extends 'base.html' %}
<body>
    {% block content %}
            
        <h1>hello this is a post</h1>
        <p>{{post.title}}</p>
        <p>{{post.content}}</p>
        
        <form action="/posts/edit_post_{{post.id}}">
            <button>edit post</button>
        </form>
        
        <form action="/delete_post_{{post.id}}">
            <button>delete post</button>
        </form>
        
        <form action="/{{post.user_id}}">
            <button>Go back to user info</button>
        </form>
    {% endblock %}
</body>
</html>