{% extends 'base.html' %}
<body>
    {% block content %}
            
        <h1>Let's add a user</h1>
        <form action="/" method="POST">
            <label for="first_name">User's first name:</label>
            <input type="text" name="first_name" placeholder="first name">
            <br>
            <label for="last_name">User's last name:</label>
            <input type="text" name="last_name" placeholder="last name">
            <br>
            <label for="image_url">add a URL for your profile picture</label>
            <input type="text" name="image_url" placeholder="profile pic url goes here">
            <button>Add user!</button>
        </form>
        
        <a href="/">go back home</a>
    {% endblock %}
</body>
</html>