{% extends 'base.html' %}
<body>
    {% block content %}
        
        <h1>Edit {{user.first_name}}'s Info</h1>
        <form method="POST">
            <label for="first_name">User's first name:</label>
            <input type="text" name="first_name" placeholder="first name">
            <br>
            <label for="last_name">User's last name:</label>
            <input type="text" name="last_name" placeholder="last name">
            <br>
            <label for="image_url">add a URL for your profile picture</label>
            <input type="text" name="image_url" placeholder="image url">
            <button type="submit">Update user!</button>
        </form>
        
        <a href="/">go back home</a>
    {% endblock %}
</body>
</html>