{% extends 'base.html' %}
<body>
    {% block content %}
        
        <h1>User #{{user.id}} details:</h1>
        <ul>
            <img src="{{user.image_url}}" alt="" class="user_img">
            <li>Name: {{user.first_name}} {{user.last_name}}</li>
        </ul>
        <form action="/edit_user/{{user.id}}" method=""> 
            <button>edit user info</button>
        </form>
        <form action="/delete/{{user.id}}">
            <button>delete user</button>
        </form>
        
        <h1>Posts</h1>
        <form action="/{{user.id}}/posts/new" method="">
            <ul>
                {% for post in user.posts %}
                <li><a href="/posts/post_id_{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
            <button>Add post</button>
        </form>

        <a href="/">Go back home</a>
    {% endblock %}
</body>
</html>